body{
    background-attachment: fixed;
    background-color: black;
    background-image: url('../media/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
}

@font-face {
    font-family: 'luckiest';
    src: url('../fonts/luckiestguy-regular-webfont.woff2') format('woff2');
    src: url('../fonts/luckiestguy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'londrina';
    src: url('../fonts/londrinasolid-light-webfont.woff2') format('woff2');
    src: url('../fonts/londrinasolid-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.outputText{
    font-family: 'londrina', 'Courier New', Courier, monospace;
    text-align: center;
}
.sapHeader{
    color: rgb(255,189,0);
    font-family: 'luckiest', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    margin: 0 2rem 1rem 2rem;
    text-align: center;
    text-shadow: 2px 6px 0px white;
    -webkit-text-stroke: 1px black;
}
.logo{
    display: flex;
    justify-content: center; 
}
.heading{
    display: block;
    margin: 2rem auto;
    width: 20rem;
}
.animalButtons{
    background-color: rgb(255, 106, 2);
    border: solid 5px black;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    margin: 1rem auto;
    max-width: 20rem;
    padding: 2rem;
}
.animalButton{
    background-color: rgba(0,0,0,0);
    border-radius: 1rem;
    border-style: none;
    height: 4rem;
    width: 5rem;
}
.animalButton:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.form__animalBox{
    display: flex;
    justify-content: center;
}
.dateInput{
    display: flex;
    justify-content: center;
}
.dateField{
    background-color: rgb(255, 106, 2);
    border: solid 5px black;
    border-radius: 1rem;
    color: rgb(102,31,0);
    font-family: 'luckiest', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    height: 3rem;
    padding: .5rem;
}
.dateField:active{
    border: solid 5px white;
}
.enterButton{
    background-color: rgb(255, 106, 2);
    border: solid 5px black;
    border-radius: 1rem;
    color: rgb(102,31,0);
    font-family: 'luckiest', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    height: auto;
    padding: 1rem;
    text-align: center;
}
.enterButton:hover{
    border: solid 5px white;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
.result{
    background-color: rgb(255, 106, 2);
    border: solid 5px black;
    border-radius: 1rem;
    color: rgb(102,31,0);
    display: none;
    font-family: 'londrina', 'Courier New', Courier, monospace;
    flex-wrap: wrap;
    margin: 0 auto;
    opacity: 0;
    text-align: center;
    max-width: 400px;
}
.resultAbility{
    padding: 0 1rem;
}
.inactive{
    display: none;
    opacity: 0;
}
.active{
    animation: fadeIn .1s ease-in-out forwards;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    opacity: 1;
}
.hide{
    display: none;
}
.clickableAnimal{
    height: 4rem;
    width: auto;
}
.musicButton{
    display: block;
    
}
@media screen and (max-width: 470px) {
    .sapHeader{
        font-size: 2rem;
    }
    .animalButtons{
        padding: 1rem;
    }
}